<h2>First Name: <%= @contact.first_name %></h2>
<h4>Last Name: <%= @contact.last_name %></h4>
<h3>Email: <%= @contact.email %></h3>
<h3>Phone Number: <%= @contact.phone_number %></h3>

<a href="/contacts">Home</a>
<div></div>
<%= link_to "Edit Contact", "/contacts/#{@contact.id}/edit", class: "btn btn-info" %>
<%= link_to "Delete Contact", "/contacts/#{@contact.id}", class: "btn btn-danger", method: :delete %>